# Arquitetura Medallion
A Arquitetura Medallion é uma abordagem para construir um Data Warehouse ou Data Lake focada em qualidade, confiabilidade e acessibilidade dos dados. Ela organiza os dados em camadas com níveis crescentes de refinamento, estrutura e valor de negócio, similar a um processo de lapidação de um diamante bruto até uma joia polida e valiosa.

As camadas da Arquitetura Medallion são:

1. Bronze (Bruta):

* Objetivo: armazenar os dados brutos, exatamente como foram capturados das fontes originais, sem qualquer transformação ou limpeza.
* Formato: arquivos no formato original (CSV, JSON, XML, etc.), geralmente armazenados em um Data Lake (e.g., HDFS, S3).
* Características:
  * Dados brutos e não processados.
  * Schema-on-read (o esquema é inferido quando os dados são lidos).
  * Alta variedade e volume de dados.
  * Baixa latência de ingestão (dados são disponibilizados rapidamente).
  * Exemplo: logs de aplicação, feeds de dados de sensores, dados de redes sociais.

2. Silver (Aprimorada):

* Objetivo: limpar, transformar e enriquecer os dados brutos da camada Bronze.
* Formato: dados estruturados em formatos como Parquet ou ORC, armazenados em um Data Lake ou Data Warehouse.
* Características:
  * Dados limpos, consistentes e com maior qualidade.
  * Schema-on-write (o esquema é definido antes da escrita dos dados).
  * Dados desduplicados e com valores nulos tratados.
  * Adição de informações contextuais e enriquecimento dos dados.
  * Exemplo: dados de clientes com informações demográficas unificadas e padronizadas, dados de vendas com informações de produtos e promoções.
3. Gold (Refinada):

* Objetivo: criar datasets agregados e otimizados para análises de negócios e tomada de decisão.
* Formato: tabelas dimensionais e fatos, armazenadas em um Data Warehouse, Data Marts ou agregados pré-calculados para dashboards.
* Características:
  * Dados altamente estruturados e organizados para atender às necessidades específicas de negócio.
  * Dados históricos e dados atuais consolidados.
  * Dados otimizados para performance em consultas analíticas.
  * Alta qualidade e confiabilidade dos dados.
  * Exemplo: tabelas de dimensão de tempo, cliente e produto, tabelas de fatos de vendas, indicadores chave de performance (KPIs) pré-calculados.

Benefícios da Arquitetura Medallion:

* Escalabilidade e flexibilidade: permite lidar com grandes volumes e variedade de dados.
* Qualidade e confiabilidade dos dados: assegura a qualidade dos dados através de um processo incremental de refinamento.
* Agilidade: facilita a ingestão e processamento de novos dados.
* Reutilização de dados: permite que os mesmos dados brutos sejam utilizados para diferentes propósitos.
* Governança de dados: facilita a gestão e controle dos dados em cada camada.

![medallion-architecture](https://miro.medium.com/v2/resize:fit:1400/1*O4ey_K0ZbsESf8na7OirJg.jpeg)

# Download dos arquivos

Iremos baixar os arquivos de entrada:
- clients.csv
- vendas.csv

Os dados em `vendas.csv` são relativos a vendas realizadas por atacadistas e distribuidores.

## Dados de clientes

Iremos realizar o download de dados de clientes do link abaixo:

In [ ]:
!wget -O clients.csv https://www.dropbox.com/scl/fi/vd5hmlr7ghj2j5rx3w681/clients.csv?rlkey=rmcalhytfjm6nfklw7hhtykid&dl=1

--2024-10-17 13:04:49--  https://www.dropbox.com/scl/fi/vd5hmlr7ghj2j5rx3w681/clients.csv?rlkey=rmcalhytfjm6nfklw7hhtykid
Resolving www.dropbox.com (www.dropbox.com)... 162.125.5.18, 2620:100:601d:18::a27d:512
Connecting to www.dropbox.com (www.dropbox.com)|162.125.5.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://ucd0e62c71b03ebea233712f93b1.dl.dropboxusercontent.com/cd/0/inline/CcmoP4of6k0xj1T5czLyZz_HTbxlktzZUJYM9j0EHMhjwD6GD3L4WO_2ZFV5OoYtSNpPX4wpkNcfZjw6IlVfsVrjS5LG4wxFc8gm0TwKg_CHqSv3jEvjQ7rfBre8j6faQsJXJ9jYzfJu6ttGNZDZ_9PT/file# [following]
--2024-10-17 13:04:50--  https://ucd0e62c71b03ebea233712f93b1.dl.dropboxusercontent.com/cd/0/inline/CcmoP4of6k0xj1T5czLyZz_HTbxlktzZUJYM9j0EHMhjwD6GD3L4WO_2ZFV5OoYtSNpPX4wpkNcfZjw6IlVfsVrjS5LG4wxFc8gm0TwKg_CHqSv3jEvjQ7rfBre8j6faQsJXJ9jYzfJu6ttGNZDZ_9PT/file
Resolving ucd0e62c71b03ebea233712f93b1.dl.dropboxusercontent.com (ucd0e62c71b03ebea233712f93b1.dl.dropboxusercontent.com)... 162.125.5.15, 2620:100:601d:15::a27d:50f
Connecting to ucd0e62c71b03ebea233712f93b1.dl.dropboxusercontent.com (ucd0e62c71b03ebea233712f93b1.dl.dropboxusercontent.com)|162.125.5.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 42358668 (40M) [text/plain]
Saving to: ‘clients.csv’

clients.csv         100%[===================>]  40.40M  62.9MB/s    in 0.6s

2024-10-17 13:04:51 (62.9 MB/s) - ‘clients.csv’ saved [42358668/42358668]

**Se não funcionar o download acima, tente o link abaixo:**

---

In [ ]:
#!gdown https://drive.google.com/uc?id=1SQn8nCPhdFXFOe2wZ9wn1exTAIdgo2QU

## Dados de vendas

Iremos realizar o download dos dados de vendas presentes no arquivo `vendas.csv`:

In [ ]:
!wget -O vendas.csv https://www.dropbox.com/scl/fi/y6h3do8rp9fhovunvj36c/vendas.csv?rlkey=m4yl4h8vzfyg5fq8vyb2sbd2x&st=nz4dme6m&dl=1

--2024-10-17 13:04:51--  https://www.dropbox.com/scl/fi/y6h3do8rp9fhovunvj36c/vendas.csv?rlkey=m4yl4h8vzfyg5fq8vyb2sbd2x
Resolving www.dropbox.com (www.dropbox.com)... 162.125.5.18, 2620:100:601d:18::a27d:512
Connecting to www.dropbox.com (www.dropbox.com)|162.125.5.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://uc65c500c14094064ee0831750ba.dl.dropboxusercontent.com/cd/0/inline/CckfKHR2w_q5wc1ZwVvsLmOSIugydWx86Eg0OOf6syzIckXtTf41IUR-SuwbPFkdBunmMJfwope9IdH-VovPfJtjbgF4mn_blux1_duUFiy5CmHCcfEGp6MmpO2fOgfgTj53aObcYbr9EP9q0OmmjYa9/file# [following]
--2024-10-17 13:04:52--  https://uc65c500c14094064ee0831750ba.dl.dropboxusercontent.com/cd/0/inline/CckfKHR2w_q5wc1ZwVvsLmOSIugydWx86Eg0OOf6syzIckXtTf41IUR-SuwbPFkdBunmMJfwope9IdH-VovPfJtjbgF4mn_blux1_duUFiy5CmHCcfEGp6MmpO2fOgfgTj53aObcYbr9EP9q0OmmjYa9/file
Resolving uc65c500c14094064ee0831750ba.dl.dropboxusercontent.com (uc65c500c14094064ee0831750ba.dl.dropboxusercontent.com)... 162.125.5.15, 2620:100:601d:15::a27d:50f
Connecting to uc65c500c14094064ee0831750ba.dl.dropboxusercontent.com (uc65c500c14094064ee0831750ba.dl.dropboxusercontent.com)|162.125.5.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 36215113 (35M) [text/plain]
Saving to: ‘vendas.csv’

vendas.csv          100%[===================>]  34.54M  51.0MB/s    in 0.7s

2024-10-17 13:04:53 (51.0 MB/s) - ‘vendas.csv’ saved [36215113/36215113]

**Se não funcionar o download acima, tente o link abaixo:**

In [ ]:
#!gdown https://drive.google.com/uc?id=1ubiLTdjEdy8C86MdkW1HRyPOFZl4irT1

# Analisando dados de vendas
Você está recebendo um conjunto de dados histórico de vendas de ERPs de várias empresas. Temos o histórico de vendas de várias empresas dentro do arquivo e, por isso, podemos ter períodos históricos diferentes de dados de vendas disponíveis.

## Arquivos
- **vendas.csv** - contém dados históricos de vendas até junho de 2022.
- **clients.csv** - dados dos clientes que compraram o produto.

## Campos do arquivo de vendas

- *client_id*: id do cliente.
- *items_count*: número de itens vendidos
- *list_price*: preço do produto no catálogo da empresa.
- *order_date*: data da venda.
- *order_id*: id do pedido. Cada pedido pode conter vários produtos vendidos dentro dele.
- *product_id*: id do produto vendido.
- *sale_price*: preço vendido ao cliente.
- *salesman_id*: id do vendedor.
- *supplier_id*: id do fornecedor do produto. Por exemplo, a indústria fabricando do produto.
- *company_id*: id da empresa. Temos dentro da base o histórico de vendas de várias empresas para clientes finais.
- *product*: nome do produto.
- *salesman*: nome do vendedor.
- *supplier*: nome do fornecedor.
- *client*: nome do cliente.


## Campos do arquivo clients.csv
- *client_id*: id do cliente.
- *cnae_id*: CNAE do cliente que está realizando a compra.
- *cod_city*: código da cidade no IBGE em que o cliente está localizado.
- *cod_tract*: código do setor censitário no IBGE em que o cliente está localizado.
- *cod_uf*: código da UF no IBGE em que o cliente está localizado.
- *city*: cidade do cliente.
- *state*: UF do cliente.
- *client*: nome do cliente.
- *company_id*: id da empresa. Temos dentro da base o histórico de vendas de várias empresas para clientes finais.

## Iniciando o PySpark

Esta célula de código instala o Spark no ambiente de execução Colab. Aqui está uma explicação passo a passo:

1. **`!apt-get install openjdk-11-jdk-headless -qq > /dev/null`**: este comando instala o OpenJDK 11 (versão headless, sem interface gráfica), que é um requisito para o Spark. O `-qq` suprime a saída e o `> /dev/null` redireciona a saída para o nada, tornando o processo mais silencioso.

2. **`!wget -q https://dlcdn.apache.org/spark/spark-3.5.2/spark-3.5.2-bin-hadoop3.tgz`**: Este comando baixa o arquivo compactado do Spark 3.5.2 (construído para o Hadoop 3) do site oficial do Apache Spark. O `-q` suprime a saída de download.

3. **`!tar xf spark-3.5.2-bin-hadoop3.tgz`**: Este comando extrai o arquivo compactado baixado do Spark, criando um diretório chamado `spark-3.5.2-bin-hadoop3`.

4. **`!pip -q install findspark`**: Este comando instala a biblioteca `findspark` usando `pip`. Findspark é uma biblioteca Python que torna mais fácil configurar o Spark em um ambiente Python, principalmente no Colab. Ela define as variáveis de ambiente necessárias para que o Spark funcione corretamente.

Após executar essas linhas, você terá o Spark instalado e pronto para ser usado em seu notebook Colab.

In [ ]:
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.5.2/spark-3.5.2-bin-hadoop3.tgz
!tar xf spark-3.5.2-bin-hadoop3.tgz
!pip -q install findspark

Defina as variáveis de ambiente do Spark:

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.2-bin-hadoop3"

O código a seguir garante que o Spark seja configurado corretamente e esteja pronto para uso em seu ambiente Python.

* **`findspark.init()`**: executa a função `init()` do módulo `findspark`. Esta função:
    * Localiza a instalação do Spark em seu sistema.
    * Configura as variáveis de ambiente necessárias para que o Python possa interagir com o Spark. Isso permite que o driver Python (seu código Python) se comunique com o executor Spark (o código que realmente processa os dados).

In [ ]:
import findspark
findspark.init()

Depois de executar a célula anterior, você poderá importar e usar as bibliotecas Spark como `pyspark.sql.SparkSession` para criar uma sessão Spark e começar a trabalhar com dados.

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
spark = SparkSession.builder.appName('Aula 1').master("local[*]").getOrCreate()

# Primeira etapa: carregar os arquivos

Nessa etapa você deve carregar os quatro arquivos abaixos, utilizando o **Spark**

**Dicas:**

- Separador dos arquivos é , (vírgula)
- Os arquivos possuem cabeçalho

In [ ]:
clients_df = spark.read.csv("clients.csv", header=True, inferSchema=True)

In [ ]:
clients_df.show()

+--------------------+---------+-------+--------+---------------+------+-----+--------------+----------+
|                city|client_id|cnae_id|cod_city|      cod_tract|cod_uf|state|        client|company_id|
+--------------------+---------+-------+--------+---------------+------+-----+--------------+----------+
|                NULL|  c855767|   NULL| 5211503|521150305000094|    52|   GO|Client c855767|       567|
|               POSSE|  c836888|   NULL| 5218300|521830005000006|    52|   GO|Client c836888|       567|
|                 POA|  c836597|   NULL| 3539806|353980605000005|    35|   SP|Client c836597|       567|
|           SAO PAULO|  c836596|   NULL| 3550308|355030837000019|    35|   SP|Client c836596|       567|
|              CUIABA|  c855005|   NULL| 5103403|510340310400031|    51|   MT|Client c855005|       567|
|         BREU BRANCO|  c855045|   NULL| 1501782|150178205000045|    15|   PA|Client c855045|       567|
|APARECIDA DE GOIANIA|  c836630|   NULL| 5201405|520140505000019|    52|   GO|Client c836630|       567|
|      PEDRAS MA CRUZ|  c904501|   NULL| 3149150|314915005000003|    31|   MG|Client c904501|       567|
|            JANUARIA|  c903627|   NULL| 3135209|313520905000021|    31|   MG|Client c903627|       567|
|        RONDONOPOLIS|  c903616|   NULL| 5107602|510760205000190|    51|   MT|Client c903616|       567|
|             JANAUBA|  c903671|   NULL| 3135100|313510005000048|    31|   MG|Client c903671|       567|
|             GOIANIA|  c903669|   NULL| 5208707|520870705020011|    52|   GO|Client c903669|       567|
|      PATOS DE MINAS|  c903656|   NULL| 3148004|314800405000184|    31|   MG|Client c903656|       567|
|         SAO GOTARDO|  c903643|   NULL| 3162104|316210415000001|    31|   MG|Client c903643|       567|
|        PORTO FRANCO|  c903694|   NULL| 2109007|210900705000023|    21|   MA|Client c903694|       567|
|        PORTO FRANCO|  c903693|   NULL| 2109007|210900705000023|    21|   MA|Client c903693|       567|
|        PORTO FRANCO|  c903692|   NULL| 2109007|210900705000008|    21|   MA|Client c903692|       567|
|             GOIANIA|  c903681|   NULL| 5208707|520870705090001|    52|   GO|Client c903681|       567|
|     SAO FELIX XINGU|  c903751|   NULL| 1507300|150730005000010|    15|   PA|Client c903751|       567|
|        RONDONOPOLIS|  c903715|   NULL| 5107602|510760205000022|    51|   MT|Client c903715|       567|
+--------------------+---------+-------+--------+---------------+------+-----+--------------+----------+
only showing top 20 rows

In [ ]:
clients_df.printSchema()

root
 |-- city: string (nullable = true)
 |-- client_id: string (nullable = true)
 |-- cnae_id: string (nullable = true)
 |-- cod_city: integer (nullable = true)
 |-- cod_tract: long (nullable = true)
 |-- cod_uf: integer (nullable = true)
 |-- state: string (nullable = true)
 |-- client: string (nullable = true)
 |-- company_id: integer (nullable = true)

In [ ]:
clients_schema = "city string, client_id string, cnae_id string, \
cod_city integer, cod_tract long, cod_uf integer, state string, client string, \
 company_id integer"
clients_df = spark.read.csv("clients.csv", header=True, schema=clients_schema, mode="DROPMALFORMED")

In [ ]:
vendas_df = spark.read.csv("vendas.csv",header=True)

In [ ]:
vendas_schema = "client_id string, items_count integer, list_price float, \
order_date date, order_id integer, product_id string, sale_price float, \
salesman_id string, supplier_id string, company_id integer, product string, \
salesman string, supplier string, client string"
vendas_df = spark.read.csv("vendas.csv",header=True, schema=vendas_schema)

In [ ]:
vendas_df.printSchema()

root
 |-- client_id: string (nullable = true)
 |-- items_count: integer (nullable = true)
 |-- list_price: float (nullable = true)
 |-- order_date: date (nullable = true)
 |-- order_id: integer (nullable = true)
 |-- product_id: string (nullable = true)
 |-- sale_price: float (nullable = true)
 |-- salesman_id: string (nullable = true)
 |-- supplier_id: string (nullable = true)
 |-- company_id: integer (nullable = true)
 |-- product: string (nullable = true)
 |-- salesman: string (nullable = true)
 |-- supplier: string (nullable = true)
 |-- client: string (nullable = true)

In [ ]:
clients_df.show()

+--------------------+---------+-------+--------+---------------+------+-----+--------------+----------+
|                city|client_id|cnae_id|cod_city|      cod_tract|cod_uf|state|        client|company_id|
+--------------------+---------+-------+--------+---------------+------+-----+--------------+----------+
|                NULL|  c855767|   NULL| 5211503|521150305000094|    52|   GO|Client c855767|       567|
|               POSSE|  c836888|   NULL| 5218300|521830005000006|    52|   GO|Client c836888|       567|
|                 POA|  c836597|   NULL| 3539806|353980605000005|    35|   SP|Client c836597|       567|
|           SAO PAULO|  c836596|   NULL| 3550308|355030837000019|    35|   SP|Client c836596|       567|
|              CUIABA|  c855005|   NULL| 5103403|510340310400031|    51|   MT|Client c855005|       567|
|         BREU BRANCO|  c855045|   NULL| 1501782|150178205000045|    15|   PA|Client c855045|       567|
|APARECIDA DE GOIANIA|  c836630|   NULL| 5201405|520140505000019|    52|   GO|Client c836630|       567|
|      PEDRAS MA CRUZ|  c904501|   NULL| 3149150|314915005000003|    31|   MG|Client c904501|       567|
|            JANUARIA|  c903627|   NULL| 3135209|313520905000021|    31|   MG|Client c903627|       567|
|        RONDONOPOLIS|  c903616|   NULL| 5107602|510760205000190|    51|   MT|Client c903616|       567|
|             JANAUBA|  c903671|   NULL| 3135100|313510005000048|    31|   MG|Client c903671|       567|
|             GOIANIA|  c903669|   NULL| 5208707|520870705020011|    52|   GO|Client c903669|       567|
|      PATOS DE MINAS|  c903656|   NULL| 3148004|314800405000184|    31|   MG|Client c903656|       567|
|         SAO GOTARDO|  c903643|   NULL| 3162104|316210415000001|    31|   MG|Client c903643|       567|
|        PORTO FRANCO|  c903694|   NULL| 2109007|210900705000023|    21|   MA|Client c903694|       567|
|        PORTO FRANCO|  c903693|   NULL| 2109007|210900705000023|    21|   MA|Client c903693|       567|
|        PORTO FRANCO|  c903692|   NULL| 2109007|210900705000008|    21|   MA|Client c903692|       567|
|             GOIANIA|  c903681|   NULL| 5208707|520870705090001|    52|   GO|Client c903681|       567|
|     SAO FELIX XINGU|  c903751|   NULL| 1507300|150730005000010|    15|   PA|Client c903751|       567|
|        RONDONOPOLIS|  c903715|   NULL| 5107602|510760205000022|    51|   MT|Client c903715|       567|
+--------------------+---------+-------+--------+---------------+------+-----+--------------+----------+
only showing top 20 rows

In [ ]:
vendas_df.show()

+---------+-----------+----------+----------+--------+----------+----------+-----------+-----------+----------+-------------+------------+-------------+------------+
|client_id|items_count|list_price|order_date|order_id|product_id|sale_price|salesman_id|supplier_id|company_id|      product|    salesman|     supplier|      client|
+---------+-----------+----------+----------+--------+----------+----------+-----------+-----------+----------+-------------+------------+-------------+------------+
|    c2943|          3|       0.0|2020-05-21|    NULL|     p1477| 25.166666|        s69|       su28|       603|Product p1477|Salesman s69|Supplier su28|Client c2943|
|    c2943|         12|       0.0|2020-05-21|    NULL|      p156|   19.4653|        s69|       su16|       603| Product p156|Salesman s69|Supplier su16|Client c2943|
|    c2092|          2|       0.0|2020-05-21|    NULL|     p1314|    39.985|        s19|       su16|       603|Product p1314|Salesman s19|Supplier su16|Client c2092|
|    c3412|          5|       0.0|2020-05-18|    NULL|      p272|     26.25|        s79|       su19|       603| Product p272|Salesman s79|Supplier su19|Client c3412|
|    c3412|         10|       0.0|2020-05-18|    NULL|      p339|     13.68|        s79|       su19|       603| Product p339|Salesman s79|Supplier su19|Client c3412|
|    c3412|         20|       0.0|2020-05-18|    NULL|      p480|      4.02|        s79|       su19|       603| Product p480|Salesman s79|Supplier su19|Client c3412|
|    c4073|          3|       0.0|2020-05-18|    NULL|      p359|       5.7|        s81|       su19|       603| Product p359|Salesman s81|Supplier su19|Client c4073|
|    c4073|          5|       0.0|2020-05-18|    NULL|      p361|       5.7|        s81|       su19|       603| Product p361|Salesman s81|Supplier su19|Client c4073|
|    c4073|          2|       0.0|2020-05-18|    NULL|      p362|       5.7|        s81|       su19|       603| Product p362|Salesman s81|Supplier su19|Client c4073|
|    c4073|          1|       0.0|2020-05-18|    NULL|      p469|       6.8|        s81|       su19|       603| Product p469|Salesman s81|Supplier su19|Client c4073|
|    c4073|          2|       0.0|2020-05-18|    NULL|     p1280|      3.74|        s81|       su19|       603|Product p1280|Salesman s81|Supplier su19|Client c4073|
|    c3305|          6|       0.0|2020-05-18|    NULL|      p485|      5.95|        s79|       su19|       603| Product p485|Salesman s79|Supplier su19|Client c3305|
|     c355|         12|       0.0|2020-05-18|    NULL|      p485| 6.2716665|        s12|       su19|       603| Product p485|Salesman s12|Supplier su19| Client c355|
|    c4848|         40|       0.0|2020-05-18|    NULL|      p576|      2.54|        s25|       su19|       603| Product p576|Salesman s25|Supplier su19|Client c4848|
|     c269|          1|       0.0|2020-05-18|    NULL|      p373|     14.01|        s12|       su19|       603| Product p373|Salesman s12|Supplier su19| Client c269|
|    c4854|        100|       0.0|2020-05-18|    NULL|      p433|      0.58|        s81|       su19|       603| Product p433|Salesman s81|Supplier su19|Client c4854|
|    c1692|          2|       0.0|2020-05-18|    NULL|      p234|      10.0|        s59|       su19|       603| Product p234|Salesman s59|Supplier su19|Client c1692|
|    c1692|          2|       0.0|2020-05-18|    NULL|      p486|      22.4|        s59|       su19|       603| Product p486|Salesman s59|Supplier su19|Client c1692|
|    c1692|         10|       0.0|2020-05-18|    NULL|      p340|      8.84|        s59|       su19|       603| Product p340|Salesman s59|Supplier su19|Client c1692|
|    c1692|         50|       0.0|2020-05-18|    NULL|     p2239|      1.31|        s59|       su19|       603|Product p2239|Salesman s59|Supplier su19|Client c1692|
+---------+-----------+----------+----------+--------+----------+----------+-----------+-----------+----------+-------------+------------+-------------+------------+
only showing top 20 rows

## Spark Pandas

### O que é Spark Pandas?

Spark Pandas é uma biblioteca que fornece uma interface similar ao Pandas para trabalhar com dados em clusters Apache Spark. Isso significa que você pode usar as mesmas funções e métodos do Pandas, mas com a capacidade de processar datasets imensos distribuídos em vários nós.

### Por que usar Spark Pandas?

Para cientistas de dados, o Spark Pandas oferece diversas vantagens:

- Escalabilidade: processa conjuntos de dados enormes com rapidez e eficiência, utilizando a computação distribuída do Spark.
- Familiaridade: permite utilizar a linguagem e as funções do Pandas, que você já conhece, para análise de dados em grande escala.
- Performance: aproveita as otimizações do Spark para acelerar tarefas como leitura, transformação e agregação de dados.
- Integração: funciona perfeitamente com outros componentes do ecossistema Spark, como Spark SQL e MLlib.

Agora vamos fazer a mesma operação de leitura de dados de clientes e vendas com **Spark Pandas** (vide [documentação](https://spark.apache.org/docs/latest/api/python/user_guide/pandas_on_spark/index.html)).

Os clientes vamos armazenar no Dataframe `clients_pdf` e os dados de vendas em `vendas_pdf`. A leitura do csv é semelhante ao Pandas com o método `read_csv`.

In [ ]:
import pyspark.pandas as ps

/content/spark-3.5.2-bin-hadoop3/python/pyspark/pandas/__init__.py:50: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(

In [ ]:
clients_pdf = ps.read_csv('clients.csv', names=clients_schema, header=0)

/content/spark-3.5.2-bin-hadoop3/python/pyspark/pandas/utils.py:1016: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `read_csv`, the default index is attached which can cause additional overhead.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

In [ ]:
clients_pdf.dtypes

city          object
client_id     object
cnae_id       object
cod_city       int32
cod_tract      int64
cod_uf         int32
state         object
client        object
company_id     int32
dtype: object

In [ ]:
vendas_pdf = ps.read_csv("vendas.csv", names=vendas_schema, header=0)

In [ ]:
vendas_pdf.dtypes

client_id       object
items_count      int32
list_price     float32
order_date      object
order_id         int32
product_id      object
sale_price     float32
salesman_id     object
supplier_id     object
company_id       int32
product         object
salesman        object
supplier        object
client          object
dtype: object

# Camadas da Arquitetura Medallion

## Bronze (Dados Brutos):

* Carregar os arquivos CSV vendas.csv e clientes.csv como DataFrames Spark.
* Criar tabelas brutas na camada Bronze, armazenando os dados brutos sem alterações.

In [ ]:
# sessão Spark
spark = SparkSession.builder \
    .appName("Arquitetura Medallion") \
    .getOrCreate()

In [ ]:
# clients.csv bruto
clientes_df = ps.read_csv("clients.csv", header=0)
# vendas.csv bruto
vendas_df = ps.read_csv("vendas.csv", header=0)

In [ ]:
print(clientes_df.shape)
print(vendas_df.shape)

(600750, 9)
(349828, 14)

`muitas duplicadas` na chave primaria o que resultou em varias combinacoes aumentando de mais esse shape dos join

In [ ]:
# salvar as tabelas brutas na camada/pasta Bronze
clientes_df.to_spark().write.option("header", True).mode("overwrite").csv("bronze/clients.csv")
vendas_df.to_spark().write.option("header", True).mode("overwrite").csv("bronze/vendas.csv")

/content/spark-3.5.2-bin-hadoop3/python/pyspark/pandas/utils.py:1016: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `to_spark`, the existing index is lost when converting to Spark DataFrame.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)